body{
    background-image: url('../Fotos/fondoweb.jpg');
    background-size: cover;
    color: white;
    text-align: justify;
    border: 5%;
}
header{
    text-align: center;
    margin-top: 2%;
}

body img {
    width: 20%;
    align-items: center;
}

article h2{
    text-align: center;
}

article {
    margin-top: -8vh;
}
#propuesta h1{
  text-align: center;
}
#propuesta{
    margin-top: 7%;
    border: solid rgb(119, 108, 108);
    border-radius: 20px;
    padding: 2%;
    font-size: large;
    background-color: rgba(128, 128, 128, 0.473);
}
#texto{
  margin-top: 2%;
  font-size: large;

}
#ejemplos{
    margin-top: 3%;
}
#mi_flex{
    display: flex;
    gap: 5%;
    width: 100%;  
    border: 20px; 
    margin-top: 3%; 
}

#mi_flex div {
    background-color: rgba(139, 129, 129, 0.5);
    border-radius: 9px;
    padding: 20px;
    width: 35%;
    line-height: 1.5;
    text-align: justify;
}

#instrucciones {
    background-image: url(../Fotos/FondoVentas.jpg);
    background-size: cover;
    transition: transform .2s; /* Duración y tipo de transición */
}
#instrucciones:hover{
    transform: scale(1.3); /* Efecto de zoom al pasar el ratón */
}
#lista_instrucciones {
margin: 5%;
text-align: justify;
}


#modo{
    background-image: url(../Fotos/categorias.png);
    background-size: cover;
    transition: transform .2s; /* Duración y tipo de transición */
}
#lista_modo{
    margin-left: 15%;
    text-align: justify;  
}
#modo h4 {
    text-align: center;
    margin-top: 27%;
}
#modo:hover{
    transform: scale(1.3); /* Efecto de zoom al pasar el ratón */
}
#controles{
    background-image: url(../Fotos/fondotrivia.jpg);
    background-size: cover;
    transition: transform .2s; /* Duración y tipo de transición */
}
#lista_controles{
    margin-left: 15%;
    margin-right: 12%;
    text-align: justify;  
}
#controles:hover{
    transform: scale(1.3); /* Efecto de zoom al pasar el ratón */
}
div h4 {
    color: white;
    font-size: x-large;
    text-align: center;
}
#enlaces a{
color: whitesmoke;
}

#enlaces a:active {
    color: rgb(255, 0, 234); /* Enlace activo (cuando se hace clic) */
}

#contenedorgordo{
    border: solid rgb(119, 108, 108);
    border-radius: 20px;
    padding: 5%;
}

#ejemplos {
    text-align: center;
}

#texto{
    display: flex;
    justify-content: center;
}

#texto2{
    width: 60%;
    text-align: justify;
}

footer{
    text-align: center;
}
/* Estilos para el botón */
#comprarJuegoBtn {
    display: block; /* Asegura que el enlace ocupe toda la línea */
    text-align: center; /* Centra el botón */
    text-decoration: none; /* Quita el subrayado del enlace */
    margin-top: 20px; /* Ajusta el margen superior */
}

/* Estilos adicionales para que el botón tenga una apariencia más atractiva */
#comprarJuegoBtn button {
    margin-top: 2%;
    background-color: #068ef1; /* Color mostaza */
    padding: 5px 10px; /* Ajusta el relleno para que el botón sea más grande */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: x-large;
}

#comprarJuegoBtn button:hover {
    background-color: #fe147f; /* Cambia el color al pasar el mouse */
    transform: scale(1.3); /* Efecto de zoom al pasar el ratón */
    transition: transform .5s; /* Duración y tipo de transición */
}




#formulario_btn button {
  background-color: #fe147f; /* Color mostaza */
  padding: 5px 10px; /* Ajusta el relleno para que el botón sea más grande */
  border: none; /* Quita el borde */
  border-radius: 5px; /* Añade esquinas redondeadas */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: large;
}

#formulario_btn button:hover {
  background-color: #fe147f; /* Cambia el color al pasar el mouse */
  transform: scale(1.3); /* Efecto de zoom al pasar el ratón */
  transition: transform .5s; /* Duración y tipo de transición */
}
 /* Resolución para moviles */
@media only screen and (max-width: 768px) {
    #mi_flex {
      width: 150%;
      margin-left: -20%;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
   article {
    margin-top: 5%;
   }
   #propuesta {
    margin: 5%;
   }
   #comprarJuegoBtn button {
    font-size: medium;
   }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #mi_flex div {
      width: 45%;
      margin-top: 3%;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
    #texto{
        margin-top: 3%;
    }
    #enunciado{
        gap: 4px;
    }
    article {
        margin-top: -25px;
    }
    #propuesta {
        line-height: 1.5;

        margin-top: 7%;
        margin-bottom: 5%;
    }
  }
  

/* Importa la fuente Poppins desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el cuerpo del documento */
body {
  font-family: "Poppins", sans-serif; /* Utiliza la fuente Poppins */
}

/* Contenedor principal */
.container {
  max-width: 2000px; /* Ancho máximo */
  width: 50%; /* Ancho del 90% del contenedor padre */
  height: 50%;
  margin: auto; /* Centra horizontalmente */
}

/* Estilos para la barra de navegación */
.navbar {
  width: 50%; /* Ancho completo */
  margin-left: -10%;
  position: fixed;
}

/* Contenedor de la barra de navegación */
.nav-container {
  display: flex; /* Contenedor de tipo flexbox */
  justify-content: space-between; /* Espacio entre elementos */
  align-items: center; /* Centra verticalmente */
  height: 62px; /* Altura */
}

/* Ítems del menú */
.navbar .menu-items {
  display: flex; /* Contenedor de tipo flexbox */
}

/* Lista de elementos de la barra de navegación */
.navbar .nav-container li {
  list-style: none; /* Sin viñetas */
}

/* Estilos para los enlaces de la barra de navegación */
.navbar .nav-container a {
  text-decoration: none; /* Sin subrayado */
  color: #ffffff; /* Color del texto */
  font-weight: 500; /* Peso de la fuente */
  font-size: 1.2rem; /* Tamaño de la fuente */
  padding: 0.7rem; /* Relleno */
}

/* Cambio de estilo al pasar el cursor sobre los enlaces */
.navbar .nav-container a:hover{
    font-weight: bolder; /* Cambio de peso de la fuente */
}

/* Contenedor de la barra de navegación */
.nav-container {
  display: block; /* Elemento de tipo bloque */
  position: relative; /* Posición relativa */
  height: 60px; /* Altura */
}

/* Checkbox para el icono de hamburguesa */
.nav-container .checkbox {
  position: absolute; /* Posición absoluta */
  display: block; /* Elemento de bloque */
  height: 32px; /* Altura */
  width: 32px; /* Ancho */
  top: 20px; /* Posicionamiento superior */
  left: 20px; /* Posicionamiento izquierdo */
  z-index: 5; /* Z-index */
  opacity: 0; /* Opacidad */
  cursor: pointer; /* Cursor */
}

/* Líneas del icono de hamburguesa */
.nav-container .hamburger-lines {
  display: block; /* Elemento de bloque */
  height: 26px; /* Altura */
  width: 32px; /* Ancho */
  position: absolute; /* Posición absoluta */
  top: 17px; /* Posicionamiento superior */
  left: 20px; /* Posicionamiento izquierdo */
  z-index: 2; /* Z-index */
  display: flex; /* Contenedor de tipo flexbox */
  flex-direction: column; /* Dirección de la columna */
  justify-content: space-between; /* Espacio entre elementos */
}

/* Línea del icono de hamburguesa */
.nav-container .hamburger-lines .line {
  display: block; /* Elemento de bloque */
  height: 4px; /* Altura */
  width: 100%; /* Ancho */
  border-radius: 10px; /* Radio de borde */
  background: #ffffff; /* Color de fondo */
}

/* Primera línea del icono de hamburguesa */
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%; /* Origen de la transformación */
  transition: transform 0.4s ease-in-out; /* Transición */
}

/* Segunda línea del icono de hamburguesa */
.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out; /* Transición */
}

/* Tercera línea del icono de hamburguesa */
.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%; /* Origen de la transformación */
  transition: transform 0.4s ease-in-out; /* Transición */
}

/* Ítems del menú de la barra de navegación */
.navbar .menu-items {
  padding-top: 120px; /* Relleno superior */
  height: 600%; /* Altura del 100% del viewport */
  width: 100%; /* Ancho del 100% */
  transform: translate(-150%); /* Transformación para ocultar el menú */
  display: flex; /* Contenedor de tipo flexbox */
  flex-direction: column; /* Dirección de la columna */
  margin-left: -40px; /* Margen izquierdo negativo */
  padding-left: 50px; /* Relleno izquierdo */
  transition: transform 0.5s ease-in-out; /* Transición */
  text-align: left; /* Alineación de texto */
}

/* Ítems del menú de la barra de navegación */
.navbar .menu-items li {
  margin-bottom: 1.2rem; /* Margen inferior */
  font-size: 1.5rem; /* Tamaño de la fuente */
  font-weight: 500; /* Peso de la fuente */
}


/* Estilos para el menú desplegable al hacer clic en el icono de hamburguesa */
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0); /* Muestra el menú desplegable */
}

/* Estilos para el icono de hamburguesa al hacer clic */
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg); /* Rotación */
}

/* Estilos para el icono de hamburguesa al hacer clic */
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0); /* Escala en Y */
}

/* Estilos para el icono de hamburguesa al hacer clic */
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg); /* Rotación */
}

/* Estilos para el logotipo al hacer clic en el icono de hamburguesa */
.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none; /* Oculta el logotipo */
}

/* FOTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEER*/

#logo_rrss{
    width: 2%;
}


